.Posts {
    margin: 20px;;
    border: solid 0.5px ;
    border-color: #22cbff;
    border-radius: 10px;
    padding-bottom: 20px;
}

.modal {
    margin : 15px;
    position: absolute as absolute;
    left: '50%'; 
    top: '50%';
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding: 5px;
    transform: 'translate(-50%, -50%)';
    background-color: #1f1f1f;
    border-radius: 20px;
    border: 1px solid #d5d5d6;
    color: #FFF;
    height: 20vh;
    width: 30vw;
}

.TextoEd{
    border: #484848;
    border-radius: 5px;
    padding: 8px;
    margin: 10px;
}

.TituloEd {
    border: #484848;
    border-radius: 5px;
    padding: 8px;
    margin: 10px;
}

.modalButtons {
    padding: 20px;
    justify-content:space-evenly;
    align-items: center;
    display: flex;
}